<div class="container mt-5">
<h2>New bookmark</h2>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back My Lists", lists_path, class: "btn btn-primary mt-4" %>
</div>